{:paths
 ["src/config"
  "src/main"
  "src/resources"]

 :deps
 {io.pedestal/pedestal.service {:mvn/version "0.5.10"}
  io.pedestal/pedestal.route {:mvn/version "0.5.10"}
  io.pedestal/pedestal.jetty {:mvn/version "0.5.10"}
  org.clojure/tools.analyzer {:mvn/version "1.1.0"}
  com.stuartsierra/component {:mvn/version "1.1.0"}}

 :aliases
 {:dev
  {:extra-paths
   ["src/dev"]

   :extra-deps
   {com.datomic/dev-local {:mvn/version "1.0.243"}}}

  :test
  {:extra-paths
   ["src/test"]

   :extra-deps
   {com.datomic/dev-local {:mvn/version "1.0.243"}}}}}